*{
   margin: 0px;
   padding: 0px;

}

body,html{
        /* background-color:rgb(3, 118, 141);  */
        /* width: 200px;
        height:1000px; */

    }
    
    #main{
      background-color:rgb(3, 118, 141); 
        width: 1365px;
        background-position: center;
        background-size: cover;
        height: 602px
    }    

     .logo{
      width: 90px;
      height: 70px; 
     }

    .logo h1{
        display: flex;
        font-size: 29px;
        font-family:Arial;
        margin-left: 75px;
        margin-top: -3px;
        color:red;
        font-family: "Monoton", sans-serif;
        font-weight: 400;
        font-style: normal;
    }


    .navbar{
       width: 1065px;
       height: 47px;
       margin-left: 0px;
       background-color:gray;
       margin-top: -67px;
    }
    .navbar ul {
      line-height: 44px;
      display: flex; 
       margin-top: -45px;
      margin-left: 680px;
      /* justify-content: center; */
      /* text-indent: 14px; */
      list-style-type: none;
  }

.navbar ul li a{ 
      /* display: inline-block; */
      text-decoration: none;
      color: white;
       padding: 4px 12px;
       border-radius: 6px;
    } 

    .navbar ul li a:hover{
       border: 1px solid black;
       background-color: gold;
        /* background-color:goldenrod; */
    }

    .content{
        height: 300px;
        width:460px ;
        margin-top: 36px; 
        margin-left: 80px;
        line-height: 0.8;
     }
     .par{
        font-size: 15px;
        color: rgb(219, 216, 216);
     }
     .content h1{
         margin-top: 50px;
        font-family: "Monoton", sans-serif;
        font-weight: 400;
        font-style: normal; 

    }
     .cn{
        margin-top: 24px;
        border: 2px solid rgb(219, 216, 216);
        width: fit-content;
        border-radius: 25px;
        padding: 8px 23px 8px 23px;
        color: rgb(219, 216, 216);
     }  
     
     .cn:hover{
      color:red;
      background-color: beige;
      cursor: pointer;
   }

     .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        background:rgb(3, 118, 141);
        position: relative;
        margin-left:980px;
        margin-top: -300px;
        border-radius: 50%;
        border: 25px solid #fff;
        outline: 25px solid rgb(3, 118, 141) ;  
     }
      .image img{
        position: relative;
        bottom: 22px;
        max-width: 180px;
       
     } 

   .bac{

      width:300px ;
      height:658px ; /* 659*/
      background-color: white;
      margin-left:1065px ;
      margin-block:-91px;
   }

      .Menu{
       height: 20px;
       width: 20px; 
       }


       .Menu i{
         display: flex; 
         margin-left:1038px;
         margin-top:-422px;
         font-size: 25px;
         cursor: pointer;
       } 
  

     /* Dropdown Content (Hidden by Default)  */
  .dropdown-content {
   display: none;
   position: absolute;
   background-color:black;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }  
 
  /* Links inside the dropdown  */
 .dropdown-content a {
   color:white;
   padding: 6px 8px;
   text-decoration: none;
   display: block;
 } 


 @media only screen and (max-width: 600px) {
   .navbar ul{
      display: none;
   }
   .Menu i{
      margin-left: 785px;
   } 
 }
